.nav {
  border-bottom: 1px solid lightgray;
  > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include breakpoint-down(medium) {
      padding: 10px 0px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    > a {
      color: purple;
      font-style: italic;
      font-weight: 700;
    }
  }
  &__right {
    display: flex;
    height: 100%;
    @include breakpoint-down(medium) {
      transition: all 0.5s;
      transform: translateX(1000%);
      background-color: rgba(0, 0, 0, 0.397);
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      overflow-y: auto;
      z-index: 900;
    }
    > a,
    span {
      color: black;
      margin-left: 50px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      @include breakpoint-down(medium) {
        margin-left: 0px;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
      }
    }
    span {
      position: relative;
      cursor: pointer;
      padding: 20px 0px;
      @include breakpoint-down(medium) {
        padding: 0px;
        display: flex;
        flex-direction: column;
      }
      > p {
        display: flex;
        align-items: center;
      }
      ul {
        position: absolute;
        display: none;
        background-color: $white;
        top: 55px;
        left: -100px;
        width: 300px;
        z-index: 100 !important;
        padding: 5px 0px;
        box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.766);
        border-top: 3px solid purple;
        transform: translateY(30px);

        @include breakpoint-down(medium) {
          position: static;
          display: none;
          top: 0px;
          background: none;
          box-shadow: none;
          border: none;
          text-align: center;
          transform: translateY(0px);
        }
        li {
          padding: 10px 15px;
          &:hover {
            transition: all 0.2s;
            background-color: rgba(211, 211, 211, 0.548);
            border-left: 5px solid #4a68ec;
          }
          > a {
            padding: 10px 15px;
            color: gray;
            font-size: 16px;
            text-transform: capitalize;
            @include breakpoint-down(medium) {
              color: white;
            }
          }
        }
      }
      &:hover {
        ul {
          display: block;
          animation: ulMove 0.4s ease-in-out 0s forwards;
        }
      }
    }
    //menu show for mobile
  }
  .hamburger__menu__active {
    @include breakpoint-down(medium) {
      transform: translateX(-0%) !important;
    }
  }
  //design for mobile for hamburger
  .menu-wrapper {
    display: none;
    place-items: center;
    width: 55px;
    height: 65px;
    margin: auto 0px;
    border-radius: 50px;
    // background-color: white;
    cursor: pointer;
    z-index: 1000;
    @include breakpoint-down(medium) {
      display: grid;
    }
    @include breakpoint-down(small) {
      position: fixed;
      top: 10px;
      right: 15px;
    }
    .hamburger-menu {
      width: 25px;
      height: 3px;
      position: relative;
      background-color: purple;
      transition: all 5ms 300ms;
      border-radius: 2px;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        width: 25px;
        height: 3px;
        background-color: purple;
        border-radius: 2px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 7px;
        width: 25px;
        height: 3px;
        background-color: purple;
        border-radius: 2px;
      }
      &.animate {
        background: rgba(255, 255, 255, 0);
      }
      &.animate:after {
        top: 0;
        width: 30px;
        transform: rotate(45deg);
        -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
          -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &.animate:before {
        bottom: 0;
        width: 30px;
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
        -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
          -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}

.white__bg {
  @include breakpoint-up(large) {
    background-color: $white !important;
    box-shadow: 0 12px 21px #7889b6;
    transition: all 1s;
    .nav__right {
      > a:not(:last-child),
      span {
        color: black !important;
      }
      a {
        color: black !important;
      }
    }
  }
}

@keyframes ulMove {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}
